
*{
    margin: 0%;
    padding: 0%;
}
body{
    background:black;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
nav{
    display: flex;
    justify-content:space-around ;
    align-items: center;
    height: 70px;
    background-color:rgb(182, 20, 20);
}
nav ul{
    display: flex;
    justify-content: center;
}
nav ul li{
    list-style-type: circle;
    margin: 0 20px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li a:hover{
   color:black;
   font-size: 1.1rem;
}
main hr{
    border: 0;
    background: gold;
    height: 1.1px;
    margin: 35px 80px;
}
.left{
    font-size: 1.4rem;
}
.firstSection{
    display: flex;
    justify-content: space-around;
    margin: 65px 0;
    align-items: center;
   
}
.firstSection > div{
    width: 25%;
    
}
.leftsection{
     font-size: 2rem;
     
}
.leftsection .buttons{
    padding: 18px 0;
}

.leftsection .btn{
    padding: 12px;
    background-color: black;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}
.rightsection img{
    width: 80%;
    
}
.purple{
    color: blueviolet;
}
.text-gray{
    color: gray;
}
#element{
    color: red;
}
.secondsection{
    max-width: 70vw;
    margin: auto;
    height: 50vh;
}
.secondsection h1{
    font-size: 1.6rem;
}
.secondsection .box{
    background:black;
    width: 80vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}
.secondsection .vertical{
    height: 15px;
    width: 1px;
    background-color:white;
    margin: 0 100px;
}

.image-first{
    width: 90px;
    position: relative;
    top:-87px;
    left: -45px;

}
.vertical-tittle1{
        position: relative;
        top: -67px;
        width: 150px;
        left: -25px;
}
.image-second{
    width: 70px;
    position: relative;
    top:-77px;
    left: -38px;
}
.vertical-tittle2{
    position: relative;
    top: -48px;
    width: 150px;
    left: -23px;
}
.image-third{
    width: 100px;
    position: relative;
    top:-77px;
    left: -38px;
}
.vertical-tittle3{
    position: relative;
    top: -48px;
    width: 150px;
    left: -23px;
}
.image-fourth{
    width: 50px;
    position: relative;
    top:-77px;
    left: -38px;
}
.vertical-tittle4{
    position: relative;
    top: -28px;
    width: 140px;
    left: -35px;
}
footer{
    background-color:silver;
    height: 100px;
}
.footer-first{
    color:black;
    padding: 1%;
}
.footer{
    display: flex;
    justify-content: space-evenly;
}
.footer-second{
    color: black;
    top: 30px;
    right: 200%;
}
.footer ul{
    list-style: none;
}